#hero {
    width: 100%;
    background: #ffffff03;
    margin-top: 24px;
    border-radius: 24px;
    box-shadow: 0 4px 30px #0000001a;
    backdrop-filter: blur(9.2px);
    padding: 24px;
    -webkit-backdrop-filter: blur(9.2px);
    position: relative;
    overflow: hidden;
    min-height: 600px;

    display: flex;
    justify-content: center;
    flex-direction: column;


    .hero-title {
        text-align: center;
        font-weight: 400;
        margin-top: -60px;


        div:nth-child(1) {
            font-size: 50pt;
            font-weight: 700;

            span {
                background: linear-gradient(-45deg, #69d7db, #A294F9, #f75487, #A294F9);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-size: 400% 400%;
                animation: gradient 3s ease infinite;
            }

            @keyframes gradient {
                0% {
                    background-position: 0 50%;
                }

                50% {
                    background-position: 100% 50%;
                }

                100% {
                    background-position: 0 50%;
                }
            }
        }

        div:nth-child(2) {
            font-size: 14pt;

            display: flex;
            justify-content: center;
            align-items: center;
            gap: 12px;
            // margin-top: 15px;
        }
    }
}

#hero::before,
#hero::after {
    content: "";
    position: absolute;
    width: 25rem;
    height: 25rem;
    background: radial-gradient(rgb(255, 255, 255), transparent);
    opacity: 0.6;
    filter: blur(50px);
    border-radius: 50%;
    animation: gradient 3s ease infinite;
}

#hero::before {
    bottom: -20px;
    left: -20px;
}

#hero::after {
    top: -20px;
    right: -20px;
}

#about {
    max-width: 900px;
    margin: 0 auto;
    margin-top: 200px;

    .about-subtitle {
        font-weight: 700;
        color: #A294F9;
        margin-bottom: 24px;
    }

    .about-title {
        font-size: 24pt;
        font-weight: 700;
        margin-bottom: 16px;
        max-width: 400px;
    }

    p {
        max-width: 400px;
        color: #ffffffb2;
    }

    .about-cards-container {
        margin-top: 60px;
        display: flex;
        gap: 24px;
        overflow: hidden;
        overflow-x: hidden;
        // flex-wrap: wrap;

        &:after{
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 800px;
            right: -200px;
            z-index: -1;
            background: url(../assets/globe.png) 100% 0 no-repeat;
            rotate: 20deg;
            opacity: 0.5;
        }

        .card {
            width: 200px;
            
            .card-title {
                padding-left: 8px;
                margin-bottom: 48px;
                color: #A294F9;
                font-size: 16pt;
                font-weight: 600;
                border-left: 2px solid #A294F9;
                height: 24px;
            }
    
            .card-content {
                padding-left: 10px;
                font-size: 10pt;
            }
        }

    }
}